#Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1467910310:AAH-Gtj0CaEv60jkp8eLHULj7bVQB8Nb7Kw"
GDRIVE_FOLDER_ID = "1rRRJFgzga1zODZJyed-bTd8x5hkYwCj6"
TELEGRAPH_TOKEN = "065b1a83545395300ba41daba11f48cc230bd6f45f429f361f93b9e30e6e"
OWNER_ID =1096429310
DOWNLOAD_DIR = "/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
INDEX_URL = ""
USER_SESSION_STRING = "BACTUXbVb1jXmtbIP9JgSB_If7-vvVBJ744G_tZLLIBlWo8LDFLjIcsh2mSPH92ZaqdhJ5T2idom9mknYRZwZ4pcHRcxhtNrlONvd3yJmiwI390f8uKaa840qtzsr9JlHztayPzBSsELLGCkCZBgPulUPgEnw408fDVfYHeGY9saZSp9bk-r1yTIOH5adIacDRJk-wpyLe1AJyAdJSU59eX9s79feNpRYdMd4bYpEHzus5ntp_1kFSB1IdlBGJT8XgGEWc3O786dChdBtI-YKl-VTwtp6DiEqB_vDkKW-Bila5GEx8KE0-NoHJo52LA_4YkBgaVsVp5XLvHe2Hz5xvG0M6a6EQE"
TELEGRAM_API = 1195139
TELEGRAM_HASH = "866564625:AAH6FVxV-T6PNhRR6v3bcpU-k_jHo10Zh9I"
USE_SERVICE_ACCOUNTS = ""
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
STOP_DUPLICATE_MIRROR = ""
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
